<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (20 symbol)</mat-label>
    <input
      #inputTitle
      [(ngModel)]="priority.title"
      (keydown.enter)="confirm()"

      matInput
      maxlength="20">
    <button
      *ngIf="priority && priority.title.trim().length > 0"
      (click)="priority.title=''"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      class="clear-icon size25">
          <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <span [(colorPicker)]="priority.color" [style.background]="priority.color" class="color-circle"></span>
</mat-dialog-content>

<mat-dialog-actions>

  <div class="col-12 text-center">
    <button mat-raised-button
            color="primary"
            (click)="confirm()"
            [disabled]="inputTitle.value.trim().length === 0">Save</button>

    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>

  <div class="col-12 text-center" *ngIf="canDelete">
    <button mat-button
            class="red"
            (click)="delete()">Delete</button>
  </div>
</mat-dialog-actions>
