<div class="container-fluid">
  <div class="row settings">

    <div class="col-10 text-left align-self-top">
      <button mat-icon-button type="button" (click)="onToggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <p class="navbar-brand">{{categoryName}}</p>
      <p *ngIf="!isMobile" class="link navbar-brand" (click)="toggleState()">
        {{toggleStatistic ? 'Hide Statistic' : 'Show Statistic'}}
      </p>
    </div>

    <div class="col-2 text-right align-self-top button-position">
      <button mat-icon-button class="header-icon" (click)="showSettings()">
        <mat-icon>settings</mat-icon>
      </button>

      <button *ngIf="!isMobile" mat-icon-button class="header-icon">
        <mat-icon>help</mat-icon>
      </button>
    </div>

  </div>
</div>
