<h1 mat-dialog-title>
  {{dialogTitle}}
</h1>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>
  <button mat-reset-button color="primary" (click)="onConfirm()">Ok</button>
</div>
