<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a [href]="site">
            Ouer site
          </a>
        </li>
        <li>
          <a (click)="onAbouteDialog()">
            About Us
          </a>
        </li>
        <li>
          <a [href]="blog">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <!--div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
    </div-->
  </div>
</footer>
