<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (obl)</mat-label>
    <input
      [disabled]="this.task.completed != null && task.completed !== 0"
      #inputTitle
      matInput
      [(ngModel)]="newTitle"
      (keydown.enter)="confirm()">

    <button
      *ngIf="newTitle && newTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="newTitle=''"
      class="dialog-task-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose Category</mat-label>
    <mat-select [(ngModel)]="newCategory" [disabled]="this.task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Without Category</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Choose Priority</mat-label>

    <mat-select [(ngModel)]="newPriority" [disabled]="this.task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Without Priority</mat-option>
      <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Choose date"
           [disabled]="this.task.completed != null && task.completed !== 0"
           #inputDate
           readonly="true"
           [matDatepicker]="picker"
           [(ngModel)]="newDate"
           (click)="picker.open()">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <button *ngIf="inputDate.value.trim().length > 0"
            [disabled]="this.task.completed != null && task.completed !== 0"
            mat-button matSuffix mat-icon-button aria-label="clear"
            (click)="newDate = null" class="calendar-clear-icon">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div class="row">
    <div class="col-12">
      <span class="ready-date" [ngClass]="{'disabled' : task.completed}" (click)="!task.completed && setToday()">Today</span>
      <span class="ready-date" [ngClass]="{'disabled' : task.completed}" (click)="!task.completed && addDays(1)">Tomorrow</span>
      <span class="ready-date" [ngClass]="{'disabled' : task.completed}" (click)="!task.completed && addDays(2)">Yesterday</span>
      <span class="ready-date" [ngClass]="{'disabled' : task.completed}" (click)="!task.completed && addDays(7)">Day after tomorrow</span>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 block-save">
        <div class="row">
          <div class="col-md-2 col-sm-12 btn-position">
            <button mat-raised-button
                    color="primary"
                    (click)="confirm()"
                    [disabled]="inputTitle.value.trim().length === 0">Save</button>
          </div>
          <div class="col-md-2 col-sm-12">
            <button mat-raised-button
                    color="primary"
                    (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12 text-right" *ngIf="canDelete || canComplete" [ngClass]="{'text-center': isMobile, 'text-right': !isMobile}">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button mat-button
                    *ngIf="canComplete && task && task.completed"
                    class="green"
                    (click)="activate()"
            >Actualize</button>
          </div>
          <div class="col-md-3 col-sm-12 block-delete">
            <button mat-button
                    *ngIf="canComplete && task && !task.completed"
                    class="green"
                    (click)="complete()"
            >Complete Task</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button mat-button
                    *ngIf="canDelete"
                    class="red"
                    (click)="delete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>

