<h1 mat-dialog-title>{{dialogTitle}}</h1>

<div mat-dialog-content>
    {{message}}
</div>

<mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          (click)="confirm()">Ok</button>

  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>


