<mat-dialog-content>
  <p mat-dialog-title class="settings-title with-subtitle">Priority settings</p>
  <p class="little subtitel">*When changing - the color will immediately be displayed in the table</p>

  <app-priorities
    [priorities]="priorities"

    (addPriority)="addPriority($event)"
    (updatePriority)="updatePriority($event)"
    (deletePriority)="deletePriority($event)"
  ></app-priorities>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>
