<div class="wrapper">
  <div class="spinner" *ngIf="spinner && spinner.visibility | async"></div>

  <ng-sidebar-container style=" height: 100vh">
    <ng-sidebar
        [opened]="menuOpened"
        [closeOnClickOutside]="false"
        [closeOnClickBackdrop]="true"
        [showBackdrop]="showBackdrop"
        [mode]="menuMode"
        [animate]="true"
        [position]="menuPosition"
        [autoFocus]="false"
        (onClosed)="onClosedMenu()"
    >
      <div class="sidebar">
          <app-categories
            [categories]="categories"
            [selectedCategory] = "selectedCategory"
            [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
            [categorySearchValue]="categorySearchValue"

            (selectCategory)="selectCategory($event)"
            (updateCategory)="updateCategory($event)"
            (deleteCategory)="deleteCategory($event)"
            (addCategory)="addCategory($event)"
            (searchCategory)="searchCategory($event)"
            ></app-categories>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content>
      <div class="main-panel mat-form-field">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <app-header
            [toggleStatistic]="toggleStatistic"
            [categoryName]="selectedCategory ? selectedCategory.title : 'All'"

            (toggleStat)="toggleStat($event)"
            (toggleMenu)="toggleMenu()"
            (settingsChanged)="settingsChanged()"
          ></app-header>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
           <app-stat
              [dash]="dash"
              [toggleStatistic]="toggleStatistic"
            ></app-stat>

            <div class="row">
              <div class="col-12">
                <app-tasks [tasks]="tasks"
                           [selectedCategory]="selectedCategory"
                           [totalTasksFounded]="totalTasksFounded"
                           [taskSearchValue] = "taskSearchValue"
                           [showSearch]="showSearch"
                           [priorities]="priorities"
                           [categories]="categories"

                           (paging)="paging($event)"
                           (toggleSearch)="toggleSearch($event)"
                           (searchAction)="searchTasks($event)"
                           (selectCategory)="selectCategory($event)"
                           (addTask)="addTask($event)"
                           (updateTask)="updateTask($event)"
                           (deleteTask)="deleteTask($event)">
                </app-tasks>
              </div>
            </div>
          </div>
        </div>
       <app-footer></app-footer>
      </div>
    </div>
  </ng-sidebar-container>
</div>
