<div class="row" *ngIf="isMobile">
  <div class="col-md-2 col-sm-12 text-left align-middle">
    <span class="toggle-search-link" (click)="onToggleSearch()">{{showSearch ? 'Hide Search' : 'Show Search'}}</span>
  </div>
</div>

<!--Search box-->
<div class="row" *ngIf="showSearch">
  <div class="col-md-2 col-sm-12">
    <mat-form-field>
      <input
        (keydown.escape)="$event.stopPropagation(); filterTitle = ''; checkFilterChanged()"
        (ngModelChange)="checkFilterChanged()"
        [(ngModel)]="filterTitle"
        matInput
        placeholder="Search task."
      >

      <button *ngIf="filterTitle && filterTitle.trim().length > 0"
        (click)="$event.stopPropagation(); filterTitle = ''; checkFilterChanged()"
        aria-label="Clear"
        class="clear-icon"
        mat-button mat-icon-button matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <mat-form-field>
      <mat-select (selectionChange)="checkFilterChanged()"
                  [(ngModel)]="filterCompleted"
                  placeholder="Filter by status."
      >
        <mat-option [value]="null">All status</mat-option>
        <mat-option [value]="1">Finished Tasks</mat-option>
        <mat-option [value]="0">Not Finished Tasks</mat-option>
      </mat-select>
      <button *ngIf="filterCompleted != null"
              (click)="$event.stopPropagation(); filterCompleted=null; checkFilterChanged()"
              aria-label="Clear"
              class="clear-icon"
              mat-button mat-icon-button matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <mat-form-field>
      <mat-select (selectionChange)="checkFilterChanged()"
                  [(ngModel)]="filterPriorityId"
                  placeholder="Filter by priority">
        <mat-option [value]="null">All Priorities</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>
      </mat-select>
      <button *ngIf="filterPriorityId != null"
              (click)="$event.stopPropagation(); filterPriorityId=null; checkFilterChanged()"
              aria-label="Clear"
              class="clear-icon"
              mat-button mat-icon-button matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
      <mat-form-field>
        <mat-select [(ngModel)]="filterSortColumn"
                    placeholder="Sort"
                    (selectionChange)="checkFilterChanged()">
              <mat-option value="title">Name</mat-option>
              <mat-option value="date">Date</mat-option>
              <mat-option value="priority">Priority</mat-option>
              <mat-option value="category">Category</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="col-md-4 col-sm-12 button-box" [ngClass]="{'sort': !isMobile}">
        <span *ngIf="isMobile">Sorting:</span>

        <button aria-label="Sort direction"
                class="button-position"
                mat-icon-button mat-button matSuffix
                (click)="$event.stopPropagation(); changeSortDirection(); checkFilterChanged()"
        ><mat-icon>{{sortIconName}}</mat-icon></button>

        <button (click)="initSearch()"
            [ngClass]="{'search-button': true, 'blink-button': changed, 'button-position': true}"
            mat-raised-button color="accent">
            <mat-icon>search</mat-icon>
        </button>

        <button (click)="$event.stopPropagation(); clearSearchValue(); checkFilterChanged();"
                class="button-position"
                aria-label="Clear"
                mat-button matSuffix
        >Reset Filters</button>
  </div>
</div>

<!--Button add Tasks, total searched-->
<div class="row">
  <div class="col-md-2 col-sm-12 task-components">
    <button
      [ngClass]="{'full-width': true}"
      color="primary"
      mat-raised-button
      (click)="addNewTask()">Add new task</button>
  </div>

  <div class="row" *ngIf="!isMobile">
    <div class="col-md-2 col-sm-12 text-left align-middle align-self-center">
      <span class="toggle-search-link" (click)="onToggleSearch()">{{showSearch ? 'Hide Search' : 'Show Search'}}</span>
    </div>
  </div>

  <div class="col-md-8 align-self-center" [ngClass]="{'founded-center': isMobile, 'text-right': !isMobile}">
    <span class="founded">Founded Tasks: {{totalTasksFounded}}</span>
  </div>
</div>

<!--Tasks-->
<div class="row">
  <div class="col-sm-12 task-list">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">List of Tasks</h4>
      </div>

      <!--Desktop version-->
      <div *ngIf="!isMobile">
        <div *ngIf="!isMobile && tasks && tasks.length > 0; else !isMobile && empty" class="card-body table-responsive">
          <table [dataSource]="dataSource" data-step="2" data-position="bottom" data-intro="List of all tasks with ability to edit" mat-table matSort>

            <ng-container matColumnDef="color">
              <th *matHeaderCellDef mat-header-cell></th>
              <td class="col-color"
                  *matCellDef="let task"
                  [style.background-color]="getPriorityColor(task)"
                  mat-cell></td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
              <td  class="col-id"
                   *matCellDef="let index = index;"
                   mat-cell>
                {{ index + 1 + taskSearchValue.pageNumber * taskSearchValue.pageSize}}
              </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th *matHeaderCellDef mat-header-cell>Name</th>
              <td class="col-title pointer"
                  *matCellDef="let task"
                  [class.completed]="task.completed"
                  (click)="editTaskDialog(task)"
                  mat-cell>
                {{task.title}}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell>Date</th>
              <td  class="col-date"
                   *matCellDef="let task"
                   [ngClass]="{'completed' : task.completed, 'novalue' : task.date == null}"
                   mat-cell>
                {{(task.date | taskDate )}}
              </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th *matHeaderCellDef mat-header-cell>Priority</th>
              <td  class="col-priority" *matCellDef="let task"
                   [ngClass]="{'completed' : task.completed, 'novalue' : task.priority == null}" mat-cell>
                {{task.priority != null ? task.priority.title : 'Without priority'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th *matHeaderCellDef mat-header-cell>Category</th>
              <td  class="col-category"
                   *matCellDef="let task"
                   (click)="!task.completed && task.category && onSelectCategory(task.category)"
                   [ngClass]="{'completed' : task.completed, 'novalue' : task.category == null, 'link' : !task.completed && task.category}" mat-cell>
                {{task.category != null ? task.category.title : 'Without Category'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="operations">
              <th *matHeaderCellDef mat-header-cell></th>
              <td class="col-operations" mat-cell *matCellDef="let task" [class.completed]="task.completed">
                <button mat-icon-button (click)="openDeleteDialog(task)" class="delete-icon">
                  <mat-icon aria-hidden="false">delete</mat-icon>
                </button>

                <button mat-icon-button (click)="editTaskDialog(task)" class="edit-icon">
                  <mat-icon aria-hidden="false" >edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell></th>
              <td class="col-select text-right" mat-cell *matCellDef="let task">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? onToggleStatus(task) : null"
                  [checked]="task.completed">
                </mat-checkbox>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
          <mat-paginator (page)="pageChanged($event)"
                         [pageIndex]="taskSearchValue.pageNumber"
                         [pageSize]="taskSearchValue.pageSize"
                         [length]="totalTasksFounded"
                         [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

      <!--Mobile vertion-->
      <div *ngIf="isMobile">
        <div *ngIf="tasks && tasks.length > 0; else empty">
          <div *ngFor="let task of tasks; let index = index" [ngClass]="{'completed': task.completed}">

            <div class="card card-mobile"
                 [ngClass]="{'background-completed': task.completed}"
                 (click)="$event.stopPropagation(); editTaskDialog(task)">

              <div class="mobile-priority-top"
                   [style.background-color]="getPriorityColor(task)"
                   [ngClass]="{'background-completed': task.completed}"></div>

              <div class="row">
                <div class="mobile-title-inner  col-9 align-top" [class.completed]="task.completed">
                  <div class="mobile-title">{{task.title}}</div>
                </div>

                <div class="col-2 align-top mobile-check">
                  <button *ngIf="!task.completed" mat-icon-button (click)="$event.stopPropagation(); onToggleStatus(task)">
                    <mat-icon class="check-icon-notcompleted">check_circle_outline</mat-icon>
                  </button>

                  <button *ngIf="task.completed" mat-icon-button (click)="$event.stopPropagation(); onToggleStatus(task)">
                    <mat-icon class="check-icon-completed">check_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="mobile-info-inner  col-12 align-top">
                  <div class="mobile-category" [ngClass]="{'completed': task.completed}">
                    <p [ngClass]="{'category': !task.completed && task.category}">{{task.category ? task.category.title : 'Without Category'}}</p>
                  </div>

                  <div *ngIf="task.priority" class="mobile-priority">
                    <p [ngClass]="{'priority' : !task.completed, 'completed' : task.completed}"
                       [style.background-color]="getMobilePriorityBgColor(task)">{{task.priority.title}}</p>
                  </div>

                  <div class="mobile-date" [ngClass]="{'completed': task.completed}">
                    {{task.date | taskDate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-paginator
            [ngClass]="{'transparent': true}"
            (page)="pageChanged($event)"
            [pageIndex]="taskSearchValue.pageNumber"
            [pageSize]="taskSearchValue.pageSize"
            [length]="totalTasksFounded"
            [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

      <ng-template #empty>
        <div class="empty-list">This list has not Tasks.</div>
      </ng-template>
    </div>
  </div>
</div>
