<div *ngIf="toggleStatistic && !isMobile">
  <div class="row">
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6 text-right"
      title="Finished tasks"
      iconName="done"
      [count1]="getCompletedCount()"
      [countTotal]="getTotal()"
      [completed]="true"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6 text-right"
      title="Uncompleted tasks"
      iconName="thumb_down_alt"
      [count1]="getUncompletedCount()"
      [countTotal]="getTotal()"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6 text-right"
      title="% of completed tasks"
      iconName="poll"
      [count1]="getCompletedPercent() | percent"
      [completed]="true"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6 text-right"
      title="% of uncompleted tasks"
      iconName="thumb_down_alt"
      [count1]="getUncompletedPercent() | percent"
    >
    </app-stat-card>
  </div>
</div>

