<div class="vertical-priorities priorities" *ngFor="let priority of priorities, let index = index">

  <div class="row align-self-baseline">
    <div class="col-7">
      <a class="pointer" (click)="onUpdatePriority(priority)">{{priority.title}}</a>
    </div>

    <div class="col-2 text-right">
      <span [style.background]="priority.color" class="color-circle"></span>
    </div>

    <div class="col-1 text-left">
      <p class="pointer gray" (click)="onDeletePriority(priority)">
        <mat-icon>delete</mat-icon>
      </p>
    </div>

    <div class="col-1 text-left">
      <p class="pointer gray" (click)="onUpdatePriority(priority)">
        <mat-icon>edit</mat-icon>
      </p>
    </div>
  </div>
</div>

<p class="link little" (click)="onAddPriority()">Add Priority</p>
