/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "~intro.js/minified/introjs.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button,
button:active,
button:focus {
  outline: none;
}

.empty-list {
  text-align: center;
  padding: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.pointer{
  cursor: pointer;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.size25 {
  font-max-size: 25px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.toggle-search-link {
  text-decoration: underline;
  cursor: pointer;
  width: 110px;
  display: block;
  padding: 16px 9px 16px 0;
}

.main-panel .content {
  margin-top: 30px !important;
  background-color: transparent !important;
}

.main-panel {
  background-color: transparent !important;
}

app-header {
  width: 100%;
}

aside {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  z-index: 0 !important;
}

.sidebar::before,
  .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: #ffffff;
}

.button-box .button-position {
  margin-left: 15px;
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}

.spinner {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.ready-date {
  border-bottom: 1px dashed #3879d6;
  color: #3879d6;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
