<div class="sidebar" data-color="purple" data-background-color="white" >
  <div class="categories">
      <div class="logo">
          <span class="nav-title">Categories</span>
          <span class="add-icon-area">
            <button mat-icon-button
                    class="add-icon"
                    (click)="addNewCategory()">
              <mat-icon>add</mat-icon>
            </button>
          </span>
      </div>
      <div class="search-category-area">
        <mat-form-field class="example-full-width">
          <input (keydown.escape)="clearAndSearch()"
                 [(ngModel)]="searchCategoryTitle"
                 (ngModelChange)="this.checkFilterChange()"

                  matInput
                  maxLength="256"
                  placeholder="Search by category">

          <button *ngIf="searchCategoryTitle && searchCategoryTitle.trim().length > 0"
                  (click)="clearAndSearch()"
                  aria-label="Clear"
                  class="search-category-button size25 gray"

                  mat-button
                  mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>

          <button *ngIf="searchCategoryTitle && searchCategoryTitle.trim().length > 0"
                  mat-button matSuffix mat-icon-button
                  (click)="search()"
                  [ngClass]="{'blink-button': filterChanged}">
            <mat-icon>search</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav cat-list">

          <li class="nav-item pointer"
              (click)="showTaskByCategory(null)"
              [class.active] = "selectedCategory === null">
            <a class="nav-link pointer">
              <span class="all-category-title">All</span>
              <span class="uncompleted-count">{{uncompletedCountForCategoryAll || 0}}</span>
            </a>
          </li>

          <div class="line"></div>
          <div *ngIf="categories && categories.length > 0; else empty">
            <li class="nav-item pointer"
                *ngFor="let category of categories let index = index"
                (click)="showTaskByCategory(category)"
                (mouseleave)="showEditIcon(null)"
                (mouseenter)="showEditIcon(index)"
                [class.active] = "(category && selectedCategory) && category.id === selectedCategory.id">
              <a class="nav-link">
                <span class="category-title">{{category.title}}</span>

                <span class="edit-category-icon-area">
                  <mat-icon
                    *ngIf="indexMouseMove === index || isMobile || isTablet"
                    (click)="$event.stopPropagation(); openEditDialog(category);"
                    class="edit-category-icon">edit</mat-icon>
                </span>
                <span class="uncompleted-count">{{category.uncompletedCount || 0}}</span>
              </a>
            </li>
          </div>
        </ul>
      </div>
      <ng-template #empty>
        <div class="empty-list">This list has not Category.</div>
      </ng-template>
      <div class="sidebar-background"></div>
    </div>
</div>

