.pointer{
  cursor: pointer;
}

.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}

.all-category-title {
  width: 85%;
  display: inline-block;
  font-size: 16px;
}

.edit-category-icon {
  color: #dadada;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.add-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
}

.add-icon {
  cursor: pointer;
  font-size: 25px;
  vertical-align: center;
}

.nav-title {
  width: 85%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.search-category-area {
  width: 199px;
  margin: 20px 20px 2px 20px;
  z-index: 4;
  position: relative;
}

.sidebar-background {
  background-image: url("../../../assets/img/sidebar-1.jpg");
  /*z-index: -99999;*/
}

.uncompleted-count {
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 2px;
  color: black;
  width: 15%;
  display: inline-block;
  text-align: center;
}


@-webkit-keyframes glowing {
 0% {
   -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
 }
 100% {
   -webkit-box-shadow: 0 0 3px #1e1d16;
 }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}

.cat-list {
	margin-bottom: 100px;
}
