<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (15 symbol)</mat-label>
    <input
      #inputTitle
      matInput maxlength="15"
      [(ngModel)]="category.title"
      (keydown.enter)="confirm()">

    <button
      *ngIf="category.title.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="category.title = ''"
      class="clear-icon size25">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

 <div class="col-12 text-center">
    <button mat-raised-button
            color="primary"
            (click)="confirm()"
            [disabled]="inputTitle.value.trim().length === 0">Save</button>

    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>

  <div class="col-12 text-center" *ngIf="canDelete">
    <button mat-button
            class="red"
            (click)="delete()">Delete</button>
  </div>
</mat-dialog-actions>


